.footer {
  padding: 40rem 80rem;
  background: #202020;

  .footer_wrap {
    display: flex;
    .left {
      width: 240rem;
    }
    .right {
      font-size: 14rem;
      color: #666666;

      strong {
        display: block;
        margin: 0 0 24rem 0;
        color: $color-point;
        font-size: 20rem;
        span {
          color: #a6a6a6;
          padding: 0 0 0 10rem;
        }
      }

      p {
        margin: 0 0 14rem 0;
      }

      ul {
        margin: 0 0 14rem 0;
        li {
          margin: 0 0 8rem 0;
        }
      }
    }
  }
  @media (max-width: 768px) {
    padding: 40rem 40rem;

    .footer_wrap {
      flex-direction: column;

      .left {
        margin: 0 0 24rem 0;
      }
    }
  }
}
