.to_top {
  position: fixed;
  bottom: 100rem;
  right: 100rem;
  z-index: 998;

  opacity: 0;
  visibility: hidden;
  transition: 0.5s;

  &.on {
    bottom: 5%;
    visibility: visible;
    opacity: 1;
  }

  & i {
    color: $color-white;
    background: $color-main;
    padding: 15rem 15rem 12rem 15rem;
    font-size: 20rem;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    bottom: 0;
    right: 0;

    &.on {
      bottom: 1.5%;
    }
  }
}
